shamefully-hoist = true # 强制将依赖安装在根目录下

// 幽灵依赖：没有安装却能使用，比如：
// "lodash": "^4.17.15" 依赖lodash，但是lodash没有安装，但是npm install lodash --save-dev 却能安装到根目录下。
// 这种依赖称为幽灵依赖，会导致依赖包的版本不受限制，可能会导致版本冲突。
// 强制将依赖安装在根目录下，导致依赖包的版本不受限制，可能会导致版本冲突。
